<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detective Voke's API'</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="" alt="">
        </div>
<ul class="nav-area">
<li><a href="http://127.0.0.1:5000/">Home</a></li>
<li><a href="http://127.0.0.1:5000/panel">Panel</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
Error! Invalid Key! Make sure to use a valid key next time!<span></span></h1>
<a href="http://127.0.0.1:5000/members">Discord Members</a>
<a href="http://127.0.0.1:5000/spammer">Discord Spammer</a>
<a href="http://127.0.0.1:5000/friends">Discord Friend Requests</a>
    </div>
</header>

</body>
</html>