<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detective Voke's API</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="" alt="">
        </div>
<ul class="nav-area">
<li><a href="https://discord-api-detectivevoke123.herokuapp.com/">Home</a></li>
<li><a href="https://discord-api-detectivevoke123.herokuapp.com/docs">Docs</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
King Panel<span></span></h1>
<a href="http://127.0.0.1:5000//panel">Panel</a>
    </div>
</header>

</body>
</html>