<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Detective Voke's API</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">    
    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class="logo">
                    <img src="" alt="">
                </div>
            <ul class="nav-area">
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/panel">Panel</a></li>
            </ul>
            </div>
            <div class="welcome-text2">
                    <h1>
            Discord Members<span></span></h1>
            <h1>Enter Invite</h1>
            <div class="memberinput">
            <form method="POST">
                    <input type="text" name='invite', size="50" height="50" color="transparent">
                    <h1>Enter Key</h1>
                    <input type="text" name='key', size="50" height="50" color="transparent">
                    <h1> </h1>
                </div>
                <button>Start</button>
            </form>
            </div>
        </header>

    </body>
</html>